:root {
    --primary-color: rgb(48, 47, 47);
    --secondary-color: black;
    --tertiary-color: cornflowerblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
     margin: 0; 
    padding: 0;
    overflow-x: hidden;
}

header {
    z-index: 9999;
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    top: 0;
    padding: 20px 35px;
    position: -webkit-sticky;
    position: sticky;

}

header nav {
    margin: 9px 0;
    padding: 8px 10px 15px 15px;
}

header nav ul {
    list-style-type: none;
    font-size: 20px;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
 } 


 


/* intro styling */

.intro {
    background-color: var(--primary-color);
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: cornflowerblue;
}

/* .intro h1 {
    
} */

/* my services */

.my-services {
   background-color: var(--primary-color);
}

/* my work */

.my-work {
    background-color: var(--primary-color);
    align-items: center;
}

/* footer */

footer {
    background-color: var(--primary-color);
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.footer-link {
    color: aqua;
}

.social-list-item  {
    color: darkgrey;
}

